<!DOCTYPE html>
<html ng-app="myApp">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Divadia web interface</title>

<!--   <link rel="stylesheet" href="css/docs.css" />-->


<!-- Bootstrap -->
<!--    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

<!-- Optional theme -->
<!--    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="mystyle.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<script src="jquery/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Load the Paper.js library -->
<script type="text/javascript" src="paperjs-v0.9.20/dist/paper-full.js"></script>

<!-- Angularjs -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>-->
<script src="angularjs/angular.min.js"></script>
<script src="utilities.js"></script>
<script src="simpleController.js"></script>
</head>

<body ng-controller="simpleController">


      <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-toggle="modal" data-target="#myModal"><a href="">Open Image...</a>
                        </li>
                        <li><a href="#" ng-click="importGT()">Read GT...</a>
                        </li>
                        <li><a href="#" ng-click="exportGT()">Save GT...</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Exit</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Draw <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="drawTextLine" ng-click="drawTextLine()"><a href="#">Text line <span id="drawTextLineGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a></li>
                        <li id="drawTextBlock" ng-click="drawTextBlock()"><a href="#">Text block <span id="drawTextBlockGlyph" class="glyphicon glyphicon-ok hidden" style="float:right;"></span></a></li>
                        <li id="drawDecoration" ng-click="drawDecoration()"><a href="#">Decoration <span id="drawDecorationGlyph" class="glyphicon glyphicon-ok hidden" style="float:right;"></span></a></li>
                        <li id="drawComment" ng-click="drawComment()"><a href="#">Comment <span id="drawCommentGlyph" class="glyphicon glyphicon-ok hidden" style="float:right;"></span></a></li>
                        <li id="drawPage" ng-click="drawPage()"><a href="#">Page <span id="drawPageGlyph" class="glyphicon glyphicon-ok hidden" style="float:right;"></span></a></li>
                        <li class="divider"></li>
                        <li id="drawPolygon" ng-click="drawPolygon()"><a href="#">Polygon <span id="drawPolygonGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a></li>
                        <li id="drawRectangle" ng-click="drawRectangle()"><a href="#">Rectangle <span id="drawRectangleGlyph" class="glyphicon glyphicon-ok hidden" style="float:right;"></span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Show <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="showTextLine" ng-click="showTextLine()"><a href="#">Text line <span id="showTextLineGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a></li>
                        <li id="showTextBlock" ng-click="showTextBlock()"><a href="#">Text block <span id="showTextBlockGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a></li>
                        <li id="showDecoration" ng-click="showDecoration()"><a href="#">Decoration <span id="showDecorationGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a></li>
                        <li id="showComment" ng-click="showComment()"><a href="#">Comment <span id="showCommentGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a></li>
                        <li id="showPage" ng-click="showPage()"><a href="#">Page <span id="showPageGlyph" class="glyphicon glyphicon-ok" style="float:right;"></span></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./">Default</a>
                </li>
                <li><a href="../navbar-static-top/">Static top</a>
                </li>
                <li><a href="../navbar-fixed-top/">Fixed top</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</div>


    Shape: <select ng-model="myShape"
				ng-options="shape.name for shape in shapes"></select>
    Region: <select ng-model="myRegion"
				ng-options="region.name for region in regions"></select>
    <button type="button" class="btn btn-primary btnTop" ng-click="importImg()">Import
				Img </button>
    <input id="myImg" type="file"
				style="visibility: hidden; display: none" />
			<button type="button" class="btn btn-primary btnTop" ng-click="importGT()">Import
				GT</button>
			<input id="myInput" type="file"
				style="visibility: hidden; display: none" />
			<button type="button" class="btn btn-primary btnTop" ng-click="exportGT()">Export
				GT</button>
			<button type="button" id="showInfoButton" class="btn btn-primary btnTop"
				ng-click="showImgInfo()">Hide Info</button>
			<button type="button" id="testButton" class="btn btn-primary btnTop" ng-click="test()">test</button>
			<button id="autoSegment" type="button" class="btn btn-primary" >AutoSegment</button>
			<button id="loadDatabase" type="button" class="btn btn-primary" >loadDatabase</button>
            <button type="button" class="btn btn-primary"
					ng-click="removePolygon()">Remove</button>
			
            <!--<span>Working mode:</span>
			<label class="radio-inline"> <input type="radio"
				ng-model="mode" value="draw" ng-change="modeChange()">Draw </label>
            <label class="radio-inline"> <input type="radio"
				ng-model="mode" value="modify" ng-change="modeChange()">Modify </label>
            <label class="radio-inline"> <input type="radio"
				ng-model="mode" value="display" ng-change="modeChange()">Display </label>-->
    
    <span id="autoSegmentComment" style="color:red;"></span>
			<span>Comment:</span>
			<textarea class="form-control" ng-model="comment"
				ng-change="editComment()" style="visibility: hidden; display: none"></textarea>

    
<!-- modal to choose an image.  -->

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Open an image</h4>
      </div>
      <div class="modal-body">
        <p>Please type the URL of the image</p>
        <input type="text" size="60" ng-model="imageURL"/> 
        <br>
        <br>
        <p>Or browse from your local computer:</p>
        <input id="myImage" type="file"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="openImage()">Okay</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




	<div class="row">

			<!--<div class="paperscript split">
                <div class="canvas">
                    <canvas height="800" width="1200" style="background:#e4e1e1; border:1px solid #0000FF;" id="canvas"></canvas>
                </div>
            </div>-->
			<!--                <div id="scroll">-->
			<canvas height="850" width="1920"
				style="background: #e4e1e1; border: 1px solid #0000FF;" id="canvas"></canvas>
			<!--                </div>-->
			<img class="hidden" id="parzival" src="csg562-022.png" alt="The Scream">


	</div>
    <span id='imgName'></span>
    <span id='imgHeight'></span>
    <span id='imgWidth'></span>
    <span>The pixel you are clicking is:</span>
    <span id='xyClick'></span>
    <span>Mouse position:</span>
    <span id='mousePosition'></span>
</body>

</html>